<h1>Home Page</h1>
<div class="iframe_main">
  <iframe class="iframe_style" src="https://www.trivago.ie/"></iframe>
  <iframe class="iframe_style" src="https://www.loveholidays.ie/?state=BQoUAAAAA_____hQoABBQ5bDAgAAZDg"></iframe>
</div>
